@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', cursive;
  letter-spacing: 2px;
}
header{
  background-color: #2a9d8f;
  text-align: center;
  
}
header h1{
  font-size: 250%;
  padding: 20px 0px;
  margin: 0;
  color: #edf6f9;
}
header nav{
  border-radius: 0px 0px 0px 20px;
  display: flex;
  padding: 10px 0px;
  background: #264653;
  margin-left: 70%;
  
}
header nav div{
  padding: 0 50px;
  margin-right: 1rem;
}
a{
  text-decoration: none;
}
header nav div a{
  color: #edf6f9;
  font-weight: 600;
  letter-spacing: 0.5px;
}
header nav div a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/*----------------Main Content-----------------------*/

.container{
  /* border: 1px solid black; */
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
}
.container div{
  /* border: 1px solid black; */
  width: auto;
  height: 70vh;
  padding: 10px;
}
.main-content div{
  overflow-y: scroll;
  height: 80%;
  width: auto;
  /* border: 2px solid black; */
}
.main-content p{
  font-size: 20px;
  
}
.side-content{
  margin-left: 10px;
  border-left: 2px solid#006d77;
  
}
.side-content h2{
align-self: center;
margin-left: 70px;
}
.side-content ul{
  margin: 0;
  padding: 0px 0px;
}
.side-content ul li{
  list-style: none;
  text-align: center;
  margin: 60px 0px;
  padding: auto;
  width: 100%;
  font-weight: 900;
}
.side-content ul li:hover{
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
img{
  width: 450px;
  height: 500px;
}
/*----------------Footer-----------------------*/

footer div{
  width: auto;
  background-color: #2a9d8f;
}
footer div p{
  /* background-color: aqua; */
  height: 20px;
  padding: 0px 30px;
}

/* #contact{
  float: left;
}
#products{
  float: center;
}
#newsletter{
  float: right;
} */
footer div{
  display: flex;
  gap: 40%;
  font-weight: 600;
  
}
footer div p{
  color: #edf6f9;
}
footer h5{
  clear: both;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  font-weight: 300;
  color: #edf6f9;
}
footer{
  /* background-color: #006d77; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,59,231,0.87718837535014) 22%, rgba(0,212,255,1) 100%);
  height: 95px;
}

/*----------------News-----------------------*/

.news div form{
  width: 300px;
}
.news{
  margin: auto;
  height: 50vh;
  padding: 10px;
}
.news div h3{
  font-weight: 600;
  letter-spacing: 1px;
}
form div{
  margin: 10px 0;
}
label{
  padding: 10px;
  width: 100%;
  font-size: 20px;

}
input{
  padding: 10px;
  width: 50%;
}
#btn{
  width: 51.3%;
  border-radius: 50px;
  background-color: #ffddd2;
  color: #e29578;
}
  
